* text=auto

*.md text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.svg text eol=lf
*.docx binary
*.pdf binary
